html{
    font-family:outfit;
}
body{
    background-color: hsl(212, 45%, 89%);
}
.box{
    width: 30vw;
    background-color:white;
    margin:7.5rem auto;
    padding: 20px;
    box-shadow: #03a9f43d 2px 10px 35px;
    border-radius: 25px;
}
.qr-code{
    width: 90%;
    margin: auto;
}
.qr-code img {
    width: 100%;
    height: 100%;
    border-radius:11px;
    object-fit: cover;
}
.text-header{
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    font-weight:700;
}
.article{
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    font-weight: 400;
}
@media (max-width:980px ) {
    .box{
        width: 60vw;
        margin-top: 3rem;
    }
}
@media (max-width:400px ) {
    .box{
        width: 90vw;
    }
}

